<extend name="Common/index"/>

<block name="tool">
    <a type="button" data-toggle="modal" data-target="#add" class="icon icon-plus" onclick="changeIcon()" style="font-size: 18px; cursor: pointer; margin-right: 10px"></a>
</block>

<block name="content_1">
    <div class="col-sm-12">

        <div class="nest" id="StackableClose">
            <div class="title-alt">
                <h6>
                    {:CONTROLLER_NAME}</h6>
                <div class="titleClose">
                    <a class="gone" href="#tStackableClose">
                        <span class="entypo-cancel"></span>
                    </a>
                </div>
                <div class="titleToggle">
                    <a class="nav-toggle-alt" href="#StackableStatic">
                        <span class="entypo-up-open"></span>
                    </a>
                </div>

            </div>

            <div class="body-nest" id="StackableStatic">

                <table id="responsive-example-table" class="table large-only">
                    <tbody>
                    <tr class="text-center">
                        <th style="width:30%; text-align: center">Group Name</th>
                        <th style="width:40%; text-align: center">Rules</th>
                        <th style="width:30%; text-align: center">Control</th>
                    </tr>
                    <foreach name="index" item="vo">
                        <tr>
                            <td style="width:30%; text-align: center; line-height: 30px;">{$vo.title}</td>
                            <td style="width:40%; text-align: center; line-height: 30px;">{$vo.rules}</td>
                            <td style="width:30%; text-align: center;">
                                <span onclick="Common.setStatus('{$vo.id}','{$vo.status}')" class="{$vo.status|StatusClass}" style="margin-top: 5px;">{$vo.status|StatusName}</span>
                                <a onclick="Edit('{$vo.id}')" class="status-metro status-disabled" data-toggle="modal" data-target="#add" style="cursor: pointer" >Edit</a>
                                <a onclick="Del('{$vo.id}')" class="status-metro status-suspended" style="cursor: pointer">Del</a>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>


            </div>

        </div>


    </div>
</block>

<block name="modal-one">
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 13%;">
        <div class="modal-dialog" role="document" style="width: 480px;">
            <div class="modal-content" style="background-color: rgba(255,255,255,1); border: none; box-shadow: none;">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-12" style="width: 94%; margin-left: 3%;">
                        <!-- BOX -->
                        <div class="box">
                            <div class="box-title" style="background-color: #FFFFFF; padding-top: 10px;">
                                <h4><i class="fa fa-list"></i>
                                    <span id="action">Add</span>&nbsp;Group
                                </h4>
                            </div>
                            <div class="box-body">
                                <form class="form-horizontal" role="form" id="submitForm">
                                    <input type="hidden" id="id" name="id">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Group</label>
                                        <div class="col-sm-8">
                                            <input id="title" title="组别名称" name="title" class="form-control" type="text" placeholder="组别名称">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Rule</label>
                                        <div class="col-sm-8">
                                            <input data-toggle="modal" data-target="#Rule-win" id="rules" name="rules" class="form-control" type="text"
                                                   placeholder="组别规则">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button onclick="add()" type="button" class="btn btn-default pull-right"><i id="submit_icon" class="fa fa-plus">
                                                &nbsp;</i>Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="modal-two">
    <div class="modal fade" id="Rule-win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-top: 5%;" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 600px;">
            <div class="modal-content" style="background-color: rgba(255,255,255,1); border: none; box-shadow: none;">
                <div class="row" style="margin-top: 25px;">
                    <div class="col-md-12 pre-scrollable" style="width: 94%; margin-left: 3%; max-height: 600px">
                        <!-- BOX -->
                        <div class="box">
                            <div class="box-title" style="background-color: #FFFFFF; padding-top: 10px;">
                                <h4><i class="fa fa-list"></i>
                                    <span id="Rule-Action">Add</span>&nbsp;Rules
                                </h4>
                            </div>
                            <hr>
                            <div class="box-body">
                                <form class="form-horizontal" role="form" id="submitFormS">
                                    <div class="skin skin-flat" id="blog_list">
                                        <foreach name="modal1" item="modal_one">
                                            <ul class="list">
                                                <li>
                                                    <input tabindex="13" type="checkbox" id="{$modal_one.id}" value="{$modal_one.id}">
                                                    <label for="{$modal_one.id}" >{$modal_one.title}<span style="color: red">*</span></label>
                                                    <ul style="margin-left: -40px">
                                                        <volist name="$modal_one[second]" id="one">
                                                            <li id="sec{$one.id}">
                                                                <input tabindex="13" type="checkbox" id="{$one.id}" value="{one.id}">
                                                                <label for="{$one.id}" onclick="getRules('{$one.id}')">{$one.title}</label>
                                                            </li>
                                                        </volist>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </foreach>
                                    </div>

                                    <div class="skin skin-flat">
                                        <foreach name="modal2" item="modal_two">
                                            <ul class="list">
                                                <li>
                                                    <input tabindex="13" type="checkbox" id="{$modal_two.id}" value="{$modal_two.id}">
                                                    <label for="{$modal_two.id}">{$modal_two.title}<span style="color: red">*</span></label>
                                                    <ul style="margin-left: -40px">
                                                        <volist name="$modal_two[second]" id="two">
                                                            <li id="sec{two.id}">
                                                                <input tabindex="13" type="checkbox" id="{$two.id}" value="{$two.id}">
                                                                <label for="{$two.id}" onclick="getRules('{$two.id}')">{$two.title}</label>
                                                            </li>
                                                        </volist>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </foreach>
                                    </div>

                                    <div class="skin skin-flat">
                                        <foreach name="modal3" item="modal_thr">
                                            <ul class="list">
                                                <li>
                                                    <input tabindex="13" type="checkbox" id="{$modal_thr.id}" value="{$modal_thr.id}">
                                                    <label for="{$modal_thr.id}">{$modal_thr.title}<span style="color: red">*</span></label>
                                                    <ul style="margin-left: -40px">
                                                        <volist name="$modal_thr[second]" id="thr">
                                                            <li id="sec{$thr.id}">
                                                                <input tabindex="13" name="Control" type="checkbox" id="{$thr.id}" value="{$thr.id}">
                                                                <label for="{$thr.id}" onclick="getRules('{$thr.id}')">{$thr.title}</label>
                                                            </li>
                                                        </volist>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </foreach>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button onclick="manageRule()" type="button" class="btn btn-default pull-right"><i id="submitS_icon" class="fa fa-plus">
                                                &nbsp;</i>Submit
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /BOX -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" src="/Public/assets/js/iCheck/jquery.icheck.js"></script>
    <script>
        var SCOPE = {
            'add_url'  : '{:U("add")}',
            'jump_url' : '{:U("index")}',
            'order_url': '{:U("ListOrder")}',
            'status_url' : '{:U("Status")}'
        }
    </script>
    <script>
        $(document).ready(function () {
            //CHECKBOX PRETTYFY
            changeCheckbox();
        });

        function changeCheckbox() {
            $('.skin-flat input').iCheck({
                checkboxClass: 'icheckbox_flat-red'
            });
        }

        function changeIcon() {
            $('#submit_icon').removeClass().addClass('fa fa-plus');
        }

        function add() {
            var title = $('#title').val();
            if (!title){
                return msg.error('组别名称不能为空');
            }
            var rule  = $('#rules').val();
            if (!rule){
                return msg.error('请选择规则');
            }
            Common.Submit();
        }

        function Edit(id) {
            $('#id').val(id);
            $('#action').html('Edit');
            $('#submit_icon').removeClass().addClass('icon-document-edit');
            var i;

            $.ajax({
                type : 'post',
                url  : '{:U("Edit")}',
                data : {id:id},
                success : function (res) {
                    if (res.status == 1){
                        $('#title').val(res.title);
                        $('#rules').val(res.rules);
                        var rules = res.rules.split(',');
                        for (i = 0; i < rules.length; i++){
                            $('#'+ rules[i] +'').prop('checked',true);
                        }
                        changeCheckbox();
                        return;
                    }
                    return msg.error(res.info);
                }
            })
        }

        function getRules(id) {
            var i;
            $.ajax({
                type : 'POST',
                url  : "{:U('/AuthRule/getRules')}",
                data : {sort_id:id},
                success : function (res) {

                    for (i=0; i<res.length; i++){
                        $('#rule'+res[i].id).remove();
                        var li = '<li id="rule'+ res[i].id +'">' +
                                '<input tabindex="13" name="Control" type="checkbox" id="'+ res[i].id +'" value="'+ res[i].id +'">' +
                                '<label for="'+ res[i].id +'">'+ res[i].title +'</label>' +
                                '</li>';
                        $("#sec"+ id).append(li);
                    }
                    changeCheckbox();
                }
            })
        }

        function manageRule() {
            var rules = [];
            $('input:checked').each(function () {
                rules.push($(this).val());
            });
            $('#rules').val(rules);
            $('#Rule-win').modal('hide');
        }


    </script>
</block>