<block name="topFooterJs"></block>
<script type="text/javascript" src="/Public/assets/js/jquery.js"></script>
<script src="/Public/assets/js/progress-bar/src/jquery.velocity.min.js"></script>
<script src="/Public/assets/js/progress-bar/number-pb.js"></script>
<script src="/Public/assets/js/progress-bar/progress-app.js"></script>

<!-- MAIN EFFECT -->
<script type="text/javascript" src="/Public/assets/js/preloader.js"></script>
<script type="text/javascript" src="/Public/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/Public/assets/js/app.js"></script>
<script type="text/javascript" src="/Public/assets/js/load.js"></script>
<script type="text/javascript" src="/Public/assets/js/main.js"></script>

<!-- GAGE -->
<script type="text/javascript" src="/Public/assets/js/chart/jquery.flot.js"></script>
<script type="text/javascript" src="/Public/assets/js/chart/jquery.flot.resize.js"></script>
<!--有时间研究一下下面这个js-->
<!--<script type="text/javascript" src="/Public/assets/js/chart/realTime.js"></script>-->
<script type="text/javascript" src="/Public/assets/js/speed/canvasgauge-coustom.js"></script>
<script type="text/javascript" src="/Public/assets/js/countdown/jquery.countdown.js"></script>
<script type="text/javascript" src="/Public/js/dialog/layer.js"></script>
<script type="text/javascript" src="/Public/js/msg.js"></script>
<script type="text/javascript" src="/Public/js/Common.js"></script>


<script src="/Public/assets/js/jhere-custom.js"></script>
<block name="footerJs"></block>